/* line 3, ../sass/speedtest2.scss */
ul li {
  width: 20px;
  height: 600px;
  list-style: none;
  position: fixed;
  top: 10px;
  left: 50%;
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(1) {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(2) {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(3) {
  -webkit-transform: rotate(9deg);
  -moz-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  -o-transform: rotate(9deg);
  transform: rotate(9deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(4) {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(5) {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(6) {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(7) {
  -webkit-transform: rotate(21deg);
  -moz-transform: rotate(21deg);
  -ms-transform: rotate(21deg);
  -o-transform: rotate(21deg);
  transform: rotate(21deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(8) {
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(9) {
  -webkit-transform: rotate(27deg);
  -moz-transform: rotate(27deg);
  -ms-transform: rotate(27deg);
  -o-transform: rotate(27deg);
  transform: rotate(27deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(10) {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(11) {
  -webkit-transform: rotate(33deg);
  -moz-transform: rotate(33deg);
  -ms-transform: rotate(33deg);
  -o-transform: rotate(33deg);
  transform: rotate(33deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(12) {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(13) {
  -webkit-transform: rotate(39deg);
  -moz-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  -o-transform: rotate(39deg);
  transform: rotate(39deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(14) {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(15) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(16) {
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  -o-transform: rotate(48deg);
  transform: rotate(48deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(17) {
  -webkit-transform: rotate(51deg);
  -moz-transform: rotate(51deg);
  -ms-transform: rotate(51deg);
  -o-transform: rotate(51deg);
  transform: rotate(51deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(18) {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(19) {
  -webkit-transform: rotate(57deg);
  -moz-transform: rotate(57deg);
  -ms-transform: rotate(57deg);
  -o-transform: rotate(57deg);
  transform: rotate(57deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(20) {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(21) {
  -webkit-transform: rotate(63deg);
  -moz-transform: rotate(63deg);
  -ms-transform: rotate(63deg);
  -o-transform: rotate(63deg);
  transform: rotate(63deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(22) {
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  -o-transform: rotate(66deg);
  transform: rotate(66deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(23) {
  -webkit-transform: rotate(69deg);
  -moz-transform: rotate(69deg);
  -ms-transform: rotate(69deg);
  -o-transform: rotate(69deg);
  transform: rotate(69deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(24) {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(25) {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(26) {
  -webkit-transform: rotate(78deg);
  -moz-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  -o-transform: rotate(78deg);
  transform: rotate(78deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(27) {
  -webkit-transform: rotate(81deg);
  -moz-transform: rotate(81deg);
  -ms-transform: rotate(81deg);
  -o-transform: rotate(81deg);
  transform: rotate(81deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(28) {
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  transform: rotate(84deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(29) {
  -webkit-transform: rotate(87deg);
  -moz-transform: rotate(87deg);
  -ms-transform: rotate(87deg);
  -o-transform: rotate(87deg);
  transform: rotate(87deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(30) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(31) {
  -webkit-transform: rotate(93deg);
  -moz-transform: rotate(93deg);
  -ms-transform: rotate(93deg);
  -o-transform: rotate(93deg);
  transform: rotate(93deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(32) {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(33) {
  -webkit-transform: rotate(99deg);
  -moz-transform: rotate(99deg);
  -ms-transform: rotate(99deg);
  -o-transform: rotate(99deg);
  transform: rotate(99deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(34) {
  -webkit-transform: rotate(102deg);
  -moz-transform: rotate(102deg);
  -ms-transform: rotate(102deg);
  -o-transform: rotate(102deg);
  transform: rotate(102deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(35) {
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(36) {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(37) {
  -webkit-transform: rotate(111deg);
  -moz-transform: rotate(111deg);
  -ms-transform: rotate(111deg);
  -o-transform: rotate(111deg);
  transform: rotate(111deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(38) {
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  -o-transform: rotate(114deg);
  transform: rotate(114deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(39) {
  -webkit-transform: rotate(117deg);
  -moz-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  -o-transform: rotate(117deg);
  transform: rotate(117deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(40) {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(41) {
  -webkit-transform: rotate(123deg);
  -moz-transform: rotate(123deg);
  -ms-transform: rotate(123deg);
  -o-transform: rotate(123deg);
  transform: rotate(123deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(42) {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(43) {
  -webkit-transform: rotate(129deg);
  -moz-transform: rotate(129deg);
  -ms-transform: rotate(129deg);
  -o-transform: rotate(129deg);
  transform: rotate(129deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(44) {
  -webkit-transform: rotate(132deg);
  -moz-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  transform: rotate(132deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(45) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(46) {
  -webkit-transform: rotate(138deg);
  -moz-transform: rotate(138deg);
  -ms-transform: rotate(138deg);
  -o-transform: rotate(138deg);
  transform: rotate(138deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(47) {
  -webkit-transform: rotate(141deg);
  -moz-transform: rotate(141deg);
  -ms-transform: rotate(141deg);
  -o-transform: rotate(141deg);
  transform: rotate(141deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(48) {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(49) {
  -webkit-transform: rotate(147deg);
  -moz-transform: rotate(147deg);
  -ms-transform: rotate(147deg);
  -o-transform: rotate(147deg);
  transform: rotate(147deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(50) {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(51) {
  -webkit-transform: rotate(153deg);
  -moz-transform: rotate(153deg);
  -ms-transform: rotate(153deg);
  -o-transform: rotate(153deg);
  transform: rotate(153deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(52) {
  -webkit-transform: rotate(156deg);
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  -o-transform: rotate(156deg);
  transform: rotate(156deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(53) {
  -webkit-transform: rotate(159deg);
  -moz-transform: rotate(159deg);
  -ms-transform: rotate(159deg);
  -o-transform: rotate(159deg);
  transform: rotate(159deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(54) {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(55) {
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  transform: rotate(165deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(56) {
  -webkit-transform: rotate(168deg);
  -moz-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  -o-transform: rotate(168deg);
  transform: rotate(168deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(57) {
  -webkit-transform: rotate(171deg);
  -moz-transform: rotate(171deg);
  -ms-transform: rotate(171deg);
  -o-transform: rotate(171deg);
  transform: rotate(171deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(58) {
  -webkit-transform: rotate(174deg);
  -moz-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  -o-transform: rotate(174deg);
  transform: rotate(174deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(59) {
  -webkit-transform: rotate(177deg);
  -moz-transform: rotate(177deg);
  -ms-transform: rotate(177deg);
  -o-transform: rotate(177deg);
  transform: rotate(177deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(60) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(61) {
  -webkit-transform: rotate(183deg);
  -moz-transform: rotate(183deg);
  -ms-transform: rotate(183deg);
  -o-transform: rotate(183deg);
  transform: rotate(183deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(62) {
  -webkit-transform: rotate(186deg);
  -moz-transform: rotate(186deg);
  -ms-transform: rotate(186deg);
  -o-transform: rotate(186deg);
  transform: rotate(186deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(63) {
  -webkit-transform: rotate(189deg);
  -moz-transform: rotate(189deg);
  -ms-transform: rotate(189deg);
  -o-transform: rotate(189deg);
  transform: rotate(189deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(64) {
  -webkit-transform: rotate(192deg);
  -moz-transform: rotate(192deg);
  -ms-transform: rotate(192deg);
  -o-transform: rotate(192deg);
  transform: rotate(192deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(65) {
  -webkit-transform: rotate(195deg);
  -moz-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  -o-transform: rotate(195deg);
  transform: rotate(195deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(66) {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(67) {
  -webkit-transform: rotate(201deg);
  -moz-transform: rotate(201deg);
  -ms-transform: rotate(201deg);
  -o-transform: rotate(201deg);
  transform: rotate(201deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(68) {
  -webkit-transform: rotate(204deg);
  -moz-transform: rotate(204deg);
  -ms-transform: rotate(204deg);
  -o-transform: rotate(204deg);
  transform: rotate(204deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(69) {
  -webkit-transform: rotate(207deg);
  -moz-transform: rotate(207deg);
  -ms-transform: rotate(207deg);
  -o-transform: rotate(207deg);
  transform: rotate(207deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(70) {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(71) {
  -webkit-transform: rotate(213deg);
  -moz-transform: rotate(213deg);
  -ms-transform: rotate(213deg);
  -o-transform: rotate(213deg);
  transform: rotate(213deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(72) {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(73) {
  -webkit-transform: rotate(219deg);
  -moz-transform: rotate(219deg);
  -ms-transform: rotate(219deg);
  -o-transform: rotate(219deg);
  transform: rotate(219deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(74) {
  -webkit-transform: rotate(222deg);
  -moz-transform: rotate(222deg);
  -ms-transform: rotate(222deg);
  -o-transform: rotate(222deg);
  transform: rotate(222deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(75) {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(76) {
  -webkit-transform: rotate(228deg);
  -moz-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  -o-transform: rotate(228deg);
  transform: rotate(228deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(77) {
  -webkit-transform: rotate(231deg);
  -moz-transform: rotate(231deg);
  -ms-transform: rotate(231deg);
  -o-transform: rotate(231deg);
  transform: rotate(231deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(78) {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(79) {
  -webkit-transform: rotate(237deg);
  -moz-transform: rotate(237deg);
  -ms-transform: rotate(237deg);
  -o-transform: rotate(237deg);
  transform: rotate(237deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(80) {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(81) {
  -webkit-transform: rotate(243deg);
  -moz-transform: rotate(243deg);
  -ms-transform: rotate(243deg);
  -o-transform: rotate(243deg);
  transform: rotate(243deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(82) {
  -webkit-transform: rotate(246deg);
  -moz-transform: rotate(246deg);
  -ms-transform: rotate(246deg);
  -o-transform: rotate(246deg);
  transform: rotate(246deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(83) {
  -webkit-transform: rotate(249deg);
  -moz-transform: rotate(249deg);
  -ms-transform: rotate(249deg);
  -o-transform: rotate(249deg);
  transform: rotate(249deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(84) {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(85) {
  -webkit-transform: rotate(255deg);
  -moz-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  -o-transform: rotate(255deg);
  transform: rotate(255deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(86) {
  -webkit-transform: rotate(258deg);
  -moz-transform: rotate(258deg);
  -ms-transform: rotate(258deg);
  -o-transform: rotate(258deg);
  transform: rotate(258deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(87) {
  -webkit-transform: rotate(261deg);
  -moz-transform: rotate(261deg);
  -ms-transform: rotate(261deg);
  -o-transform: rotate(261deg);
  transform: rotate(261deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(88) {
  -webkit-transform: rotate(264deg);
  -moz-transform: rotate(264deg);
  -ms-transform: rotate(264deg);
  -o-transform: rotate(264deg);
  transform: rotate(264deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(89) {
  -webkit-transform: rotate(267deg);
  -moz-transform: rotate(267deg);
  -ms-transform: rotate(267deg);
  -o-transform: rotate(267deg);
  transform: rotate(267deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(90) {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(91) {
  -webkit-transform: rotate(273deg);
  -moz-transform: rotate(273deg);
  -ms-transform: rotate(273deg);
  -o-transform: rotate(273deg);
  transform: rotate(273deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(92) {
  -webkit-transform: rotate(276deg);
  -moz-transform: rotate(276deg);
  -ms-transform: rotate(276deg);
  -o-transform: rotate(276deg);
  transform: rotate(276deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(93) {
  -webkit-transform: rotate(279deg);
  -moz-transform: rotate(279deg);
  -ms-transform: rotate(279deg);
  -o-transform: rotate(279deg);
  transform: rotate(279deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(94) {
  -webkit-transform: rotate(282deg);
  -moz-transform: rotate(282deg);
  -ms-transform: rotate(282deg);
  -o-transform: rotate(282deg);
  transform: rotate(282deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(95) {
  -webkit-transform: rotate(285deg);
  -moz-transform: rotate(285deg);
  -ms-transform: rotate(285deg);
  -o-transform: rotate(285deg);
  transform: rotate(285deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(96) {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(97) {
  -webkit-transform: rotate(291deg);
  -moz-transform: rotate(291deg);
  -ms-transform: rotate(291deg);
  -o-transform: rotate(291deg);
  transform: rotate(291deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(98) {
  -webkit-transform: rotate(294deg);
  -moz-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  -o-transform: rotate(294deg);
  transform: rotate(294deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(99) {
  -webkit-transform: rotate(297deg);
  -moz-transform: rotate(297deg);
  -ms-transform: rotate(297deg);
  -o-transform: rotate(297deg);
  transform: rotate(297deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(100) {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(101) {
  -webkit-transform: rotate(303deg);
  -moz-transform: rotate(303deg);
  -ms-transform: rotate(303deg);
  -o-transform: rotate(303deg);
  transform: rotate(303deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(102) {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(103) {
  -webkit-transform: rotate(309deg);
  -moz-transform: rotate(309deg);
  -ms-transform: rotate(309deg);
  -o-transform: rotate(309deg);
  transform: rotate(309deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(104) {
  -webkit-transform: rotate(312deg);
  -moz-transform: rotate(312deg);
  -ms-transform: rotate(312deg);
  -o-transform: rotate(312deg);
  transform: rotate(312deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(105) {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(106) {
  -webkit-transform: rotate(318deg);
  -moz-transform: rotate(318deg);
  -ms-transform: rotate(318deg);
  -o-transform: rotate(318deg);
  transform: rotate(318deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(107) {
  -webkit-transform: rotate(321deg);
  -moz-transform: rotate(321deg);
  -ms-transform: rotate(321deg);
  -o-transform: rotate(321deg);
  transform: rotate(321deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(108) {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(109) {
  -webkit-transform: rotate(327deg);
  -moz-transform: rotate(327deg);
  -ms-transform: rotate(327deg);
  -o-transform: rotate(327deg);
  transform: rotate(327deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(110) {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(111) {
  -webkit-transform: rotate(333deg);
  -moz-transform: rotate(333deg);
  -ms-transform: rotate(333deg);
  -o-transform: rotate(333deg);
  transform: rotate(333deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(112) {
  -webkit-transform: rotate(336deg);
  -moz-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  -o-transform: rotate(336deg);
  transform: rotate(336deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(113) {
  -webkit-transform: rotate(339deg);
  -moz-transform: rotate(339deg);
  -ms-transform: rotate(339deg);
  -o-transform: rotate(339deg);
  transform: rotate(339deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(114) {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(115) {
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(116) {
  -webkit-transform: rotate(348deg);
  -moz-transform: rotate(348deg);
  -ms-transform: rotate(348deg);
  -o-transform: rotate(348deg);
  transform: rotate(348deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(117) {
  -webkit-transform: rotate(351deg);
  -moz-transform: rotate(351deg);
  -ms-transform: rotate(351deg);
  -o-transform: rotate(351deg);
  transform: rotate(351deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(118) {
  -webkit-transform: rotate(354deg);
  -moz-transform: rotate(354deg);
  -ms-transform: rotate(354deg);
  -o-transform: rotate(354deg);
  transform: rotate(354deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(119) {
  -webkit-transform: rotate(357deg);
  -moz-transform: rotate(357deg);
  -ms-transform: rotate(357deg);
  -o-transform: rotate(357deg);
  transform: rotate(357deg);
}

/* line 18, ../sass/speedtest2.scss */
ul li:nth-child(120) {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 23, ../sass/speedtest2.scss */
ul li span {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #33c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

@-webkit-keyframes top2bottom {
  /* line 38, ../sass/speedtest2.scss */
  0% {
    margin-top: 0;
  }

  /* line 41, ../sass/speedtest2.scss */
  50% {
    margin-top: 570px;
  }

  /* line 44, ../sass/speedtest2.scss */
  100% {
    margin-top: 0;
  }
}
